[tool.ruff]
# Target Python version
target-version = "py310"
line-length = 100

[tool.ruff.lint]
# Enable Pyflakes (F) and Codeform (E/W)
select = ["F", "E", "W", "I"]
# Ignore E402 (Module level import not at top of file) because of our CUDA library path hack
ignore = ["E402"]

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"
